{% extends 'base.html' %}
{% load static %}

{% block title %} Change Password {% endblock title %}

{% block css %}
{% endblock css %}


{% block header %}
{% include "includes/header.html" %}
{% endblock header %}


{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include "includes/alerts.html" %}
    <div class="container">
        <div class="row">
        {% include "includes/dashbord_sidebar.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as : </strong>
                <span>{{ user.full_name }}</span>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'account:change_password' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Current Password </label>
                                <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>New Password </label>
                                <input type="password" name="new_password" placeholder="New Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password </label>
                                <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                            </div>
                            
                            <input class="btn btn-outline-primary " type="submit" value="Change Password">
                        </form>
                    </div> 
                </div>
            </div>
            </div>
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock content %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock footer %}


{% block js %}
    
{% endblock js %}